html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

#zero-layer {
}

.map-component {
  @mapWidth: 640px;
  @mapHeight: 360px;
  @sideBarWidth: 250px;

  width: @mapWidth+@sideBarWidth;
  height: @mapHeight;
  margin: 10px 0 0 10px;
  padding: 0;
  overflow: hidden;
  position: relative;
  .map {
    width: @mapWidth;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    margin: 0;
  }

  .panel {
    position: absolute;
    z-index: 100;

    &.side-bar {
      top: 0;
      bottom: 0;
      width: @sideBarWidth;
      overflow: hidden;
      background: white;

      &.right {
        right: 0;
      }

      &.left {
        left: 0;
      }

      ul {
        height: 100%;
        padding: 0;
        margin: 0;
        overflow-y: auto;

        li {
          list-style: none;
          margin: 0;
          padding: 5px;
          color: black;
          border-bottom: solid 1px silver;
          cursor: pointer;

          &:last-child {
            border-bottom-width: 0;
          }

          &:hover {
            background-color: #ededed;
          }

          h3 {
            margin: 0;
            font-size: 12px;
            line-height: 14px;
            font-weight: bold;
          }

          div.categories {
            position: relative;
            overflow: hidden;

            span.category {
              font-size: 10px;
              line-height: 12px;
              margin: 0 4px;
              padding: 2px 6px;
              font-style: italic;
              float: right;

            }
          }

        }
      }

    }

    &.bounds-label {
      bottom:0;
      left: 0;
      font-size: 80%;
      background-color: white;
      opacity: .5;
    }

    &.details {
      @boxWidth: 480px;
      @boxHeight: 300px;
      width: @boxWidth;
      height: @boxHeight;
      top: ( @mapHeight - @boxHeight ) / 2;
      left: ( @mapWidth - @boxWidth ) / 2;
      
      margin: 0;

      background-color: rgba(255,255,255,0.75);
    }
  }
}